html {
    background-color: #fff;
}

body {
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: #fff;
    font-size: 12px !important;
    margin: 0;
    padding: 0;
}

hr {
    margin: 1em 0 1em 0;
    border: 1px solid #3694D1;
}


button:focus {
    border: none !important;
    outline: none !important;
}
a {
    cursor: pointer;
}
.pt-r {
    position: relative;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}



/*============================================== /
/ ================== MAIN===== ================= /
/ ============================================== */
#main {
    width: 1220px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding-bottom: 10px;
}
.line {
    margin-top: 15px;
}
.clearfix::before, .clearfix::after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
.view-section {
    clear: both;
    height: auto;
}
.column {
    margin: 0 10px 0 10px;
    float: left;
    display: inline;
}
/*============================================== /
/ ================== SECTION== ================= /
/ ============================================== */

section {
    margin-left: 300px;
    min-height: 100%;
}

img {
    padding: 1em;
}

aside {
    background-color: white;
}
/*============================================== /
/ ================== ARTICLE== ================= /
/ ============================================== */
article {
    background-color: #f7f7f7;
    border-radius: 2px 5px;
    padding: 10px;
    margin: 10px
}
/*============================================== /
/ =================== ACTION =================== /
/ ============================================== */
article.action {
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-left: 70px;
    padding-right: 70px;
}
article.action.console {
}
.back {
    float: left;
}
.next {
    float: right;
}

/*============================================== /
/ ================== TIMELINE = ================ /
/ ============================================== */

.entity-timeline-column {
    float: left;
    display: inline;
}
.entity-timeline-show-label {
    margin-right: 5px;
    margin-top: 10px;
    font-size: 14px;
}
.entity-timeline-show-range {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 5px;
    font-size: 14px;
}
.entity-timeline-show-tab {
    margin-top: 3px;
}
.entity-radioset-list ul {
    height: 25px;
}

.entity-radioset-list ul li {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 2px;
    background-color: #d2d2d2;
    color: #393939;
    line-height: 25px;
    cursor: default;
}

.entity-radioset-list ul, .entity-radioset-list ul li {
    float: left;
    display: inline-block;
}

.entity-radioset-list ul li.entity-radioset-cur {
    background-color: #28B463;
    color: #FFF;
}


#entity-timeline-show-time {
    font-size: medium;
    text-align: center;
}
#span-from-date,
#span-to-date{
    font-weight: bold;
}
/*============================================== /
/ ================= SPAN BADGED ================ /
/ ============================================== */

.span-disabled {
    background-color: #adadad;
}
.span-disabled a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}

.span-enabled {
    background-color: #FFA500;
}
.span-enabled a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}






i.fa.depl {
    min-width: 200px;
    margin: 1em 0;
}
i.fa.depl.disabled {
    color: gray;
}
i.fa.enabled {
    color:#3694D1;
}
i.fa.enabled>span {
    color: #000;
}

/*============================================== /
/ ================= SEARCH BAR ================= /
/ ============================================== */
.search {
    width: 100%;
    padding: 5px !important;
    border-color: rgb(187, 187, 187) !important;
}


/*============================================== /
/ ================= lIST-GROUP ================= /
/ ============================================== */
.list-group {
    width: 80%;
    margin: auto;
    transition:all .2s ease-in-out
}

.list-group-item {
    background-color: #ffffff !important;
    color: #393939 !important;
    border: 1px solid #CCCCCC!important;
    border-radius: 0 !important;
    margin: 5px auto;
}

.list-group-item:hover {
    border-color: #FFA500 !important;
}

.list-group-item.active:hover,
.list-group-item.active {
    background-color: #FFA500 !important;
    border: 1px solid #FFA500 !important;
}

.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-text {
    color: white !important;
}
.list-group-item:hover .list-group-item-heading,
.list-group-item:hover .list-group-item-text,
.list-group-item .list-group-item-heading,
.list-group-item .list-group-item-text{
    color: #393939 !important;
}
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active .list-group-item-text,
.list-group-item:hover .list-group-item-text,
.list-group-item .list-group-item-text{
    opacity: 0.8 !important;
    font-size: 0.9em !important;
}


.ui-select-card-list {
    list-style: none;
}
.ui-select-card-des {
    color: gray;
}
/*============================================== /
/ =================== CUSTOM FA ================ /
/ ============================================== */

.fa-stack.fa-lg.tm{
    cursor: default;
    font-size: small;
}